.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  background-color: rgb(255 255 255);
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5rem 0;
}

.input {
  padding: 8px;
  margin-right: 8px;
  font-size: 16px;
}

.addButton {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.todoList {
  width: 100%;
  max-width: 500px;
  padding: 0;
  list-style: none;
}

.todoList li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.completed span {
  color: #aaa;
  text-decoration: line-through;
}

.todoList li span {
  flex-grow: 1;
  margin: 0 10px;
}

.deleteButton {
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  background-color: #ff4d4d;
  border: none;
  border-radius: 5px;
}
